<configuration>
  <packageSources>
    <add key="cpp.libraries" value="https://cpp.pkgs.visualstudio.com/_packaging/CPP.Libraries/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <apikeys>
    <add key="https://cpp.pkgs.visualstudio.com/_packaging/CPP.Libraries/nuget/v3/index.json" value="VSTS" />
  </apikeys>
</configuration>